body, html, #root {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Ajusta el contenedor principal para ocupar toda la pantalla */
  .landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }