/* Estilos generales de la página de bienvenida */
.welcome-page {
  display: flex;
  flex-direction: column;
  height: 45 ;
  max-height: 100vh;
  background-color: white;
  margin: 0;
  overflow-y: hidden;
}

/* Contenedor principal dividido en dos columnas */
.welcome-content-container {
  display: flex;
  flex-direction: column; /* Para pantalla pequeña, por defecto en columna */
  width: 95vw;
  height: 100%;
  
}

/* Contenedor de la imagen */
.welcome-image-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contenedor de contenido principal */
.welcome-content-father {
  padding: 16.8vh 0 0vh 11vw;
}

/* Contenido de bienvenida */
.welcome-content {
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4f746e;
  color: white;
  padding: 1.5vh 1.5vw 9vh 1.5vw;
  border-radius: 15px;
  margin: 0 auto;
}

.welcome-content h2 {
  font-size: 3.8rem;
  margin-bottom: 2vh;
  color: #1b1b1b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  text-align: center;
}

.welcome-content p {
  font-size: 1rem;
  max-width: 90%;
  margin: 0 auto 2vh;
  color: #1b1b1b;
  text-align:justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  padding: 0% 15% 0% 15%;
}

/* Botones */
.welcome-btn {
  width: 70%;
  height: 12%;
  padding: 1vh 0;
  margin: 1vh;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.login-btn {
  background-color: white;
  color: black;
}

.register-btn {
  background-color: #43B93A;
  color: white;
}

/* Adaptación para pantallas grandes */
@media (min-width: 768px) {
  .welcome-content-container {
      flex-direction: row;
  }
  .welcome-image-container {
      width: 50vw;
      height: 100vh;
  }
  .welcome-content {
      width: 50vw;
  }
}
